@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Header */

.top-header{
    background-color: #1CD1B0;
    height: 2,37rem;
    display: flex;
    align-items: center;
    font-size: 0.93rem;
    padding: 0.62rem;
}

header{
    background-color: #00669F;
    height: 6.31rem;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    padding:1.75rem;
}

/* Main */

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 18.75rem;
    height: 33.06rem;
    margin: 0.93rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-img{
    height: 12.06rem;
    padding: 0.93rem 1.31rem;
    font-size: 1.62;
}

.card-1 .card-img{
    background-image:  url(../img/background-1.svg);
}

.card-2 .card-img{
    background-image:  url(../img/background-2.svg);
}

.card-icon{
    color: #CC2424;
}

.card-content{
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #F3F3F3;
    padding: 1rem;
}

.card-content h2{
    margin-top: 4.62rem;
    font-size: 1.87rem;
}

.card-content p{
    margin: 0.62rem 0 2.31rem;
}

.card-user-img{
    position: absolute;
    top: -60px;
    border-radius: 100px;
    width: 7.5rem;
}

.card-button{
    background-color: #00669F;
    padding: 0.93rem 2.31rem;
    color: white;
    font-size: 0.93rem;
    margin-bottom: 1.17rem;
}


/* Footer */
footer{
    color: white;
    background-color: #00669F;
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 3.18rem;
    padding: 1rem;
}