/* -------------------------General styles------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

ul >li{
    margin-right: 1.2rem;
}

.page-container{
    max-width: 1024px;
    margin: auto;
}

/* -------------------------Header------------------------- */

/* -------------------------Mini nav bar------------------------- */

.mini-nav-bar{

    color: #F3F3F3;
    background-color: #222222;
}

.mini-nav-bar-container {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 5.62rem;
    font-size: 0.62rem;
}
.mini-nav-bar-options-container{
    display: flex;
}

.mini-nav-bar-options-container label{
    visibility: hidden;
    position: absolute;
}

.mini-nav-bar-options-container select{
    border: none;
    background: inherit;
    color: inherit;
}
/* -------------------------Main nav bar------------------------- */

.main-nav-bar{
    background-color: #F0A83E;
    color: #fff;
}

.main-nav-bar-container{
    padding: 1.25rem 2.91rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title-container{
    color: #3C2313;
    display: flex;
}

.page-title{
    font-size: 1.25rem;
}

.page-title-span{
    color: #fff;
}

.main-nav-bar{
    font-size: 0.81rem;
}

/* -------------------------Main------------------------- */

/* -------------------------Banner------------------------- */

main{
    background-color: azure;
}

.banner-container{
    background-image: url('../img/bowl-and-pet-daities-on-green-background 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
}

.banner-title{
    border-radius: 5px;
    background-color: #fff;
    padding: 0.62rem;
    font-size: 1.87rem;
    margin-bottom: 0.75rem;
}

.banner-button{
    color: #fff;
    background-color: #F0A83E;
    border-radius: 5px;
    padding: 0.93rem 1.43rem;
    margin-top: 0.75rem;
}

/* -------------------------Products section header------------------------- */

.products-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1.25rem;
}

.products-section-main-icon{
    font-size: 4.38rem;
    color: #F0A83E;
}

.products-section-title{
    font-size: 2.5rem;
    color: #3C2313;
}

.product-section-nav-item{
    font-size: 0.93rem;
    color: #666;
}

/* -------------------------Cards------------------------- */

.product-cards-container{
    display: flex;
    justify-content: center;
}

.product-card{
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.62rem;
    color: #3C2313;
    font-weight: 500;
    font-size: 0.93rem;
}

.product-card p:last-of-type{
    color: #F0A83E;
}

/* -------------------------Contact section------------------------- */

.contact-container{
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}
.contact-container> *{
    width: 100%;
}
.contact-container fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contact-container legend{
    margin-bottom: 10px;
    color: #3C2313;
    font-size: 25px;
    font-weight: 700;
    line-height: 29.3px;
   margin: 0 auto;
}

.contact-input{
    border:none;
    position: relative;
    font-size: 1rem;
    margin: 20px 0;
    width: 100%;
}

.contact-container label{
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    transition: all 0.2s;
}
.contact-input:focus-within label{
    top: -25px;
    color: #3C2313;
}

.contact-container input{
    border:none;
    padding: 15px;
    color: white;
    background-color: #3C2313;
    width: 100%;
    border-radius: 15px;
}
.contact-container input:focus{
    outline:none;
}
.contact-container .contact-buttons{
    margin-top: 40px;
}
.contact-button{
    color: white;
    border-radius: 15px;
    border:none;
    padding: 8px 25px
}
.contact-button:first-of-type{
    background-color: #8a8787;
}
.contact-button:last-of-type{
    background-color: #F0A83E;
}

/* -------------------------Local Info section------------------------- */
.local-info-container{
    background-color: #3C2313;
    color: #8a8787;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 4.37rem;
    font-size:10px;
}

.local-info-container> div:first-of-type{
    display: flex;
    flex-direction: column;
}

.local-info-card{
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}
.local-info-card:last-of-type{
    margin-bottom: 0;
}

.local-info-card >:last-child{
    margin-left: 1.25rem;
}
.local-info-card div p:first-of-type{

    font-size: 1.25rem;
    color: #fff;
}

.title-inverted{
    color: #fff;
}

.span-inverted{
    color: #F0A83E;
}


/* -------------------------Footer------------------------- */

footer{
    background-color: #222222;
}

footer p{
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 0,25rem;
}


/* -------------------------Media queries------------------------- */

@media screen and (max-width: 768px) {
    .product-cards-container{
        flex-direction: column;
    }
}

@media screen and (max-width:480px){
    
}