/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}
ul >li{
    margin-right: 1.2rem;
}

/* Header */

/* Mini nav bar */

.mini-nav-bar-container {
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 5.62rem;
    font-size: 0.62rem;
}

/* Main nav bar */
.main-nav-bar-container{
    padding: 1.25rem 2.91rem;
    background-color: #F0A83E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-title-container{
    color: #3C2313;
    display: flex;
}

.main-nav-title{
    font-size: 1.25rem;
}

.main-nav-title-span{
    color: #fff;
}

.main-nav-bar{
    font-size: 0.81rem;
}

/* Main */

/* Banner */
.banner-container{
    background-image: url('../img/bowl-and-pet-daities-on-green-background 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
}

.banner-title{
    border-radius: 5px;
    background-color: #fff;
    padding: 0.62rem;
    font-size: 1.87rem;
    margin-bottom: 0.75rem;
}

.banner-button{
    color: #fff;
    background-color: #F0A83E;
    border-radius: 5px;
    padding: 0.93rem 1.43rem;
    margin-top: 0.75rem;
}

/* Cards */

.product-cards-container{
    display: flex;
}

.product-card{
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.62rem;
    color: #3C2313;
    font-weight: 500;
    font-size: 0.93rem;
}

.product-card p:last-of-type{
    color: #F0A83E;
}

/* Footer */